<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pure.gothic.hackathon.idhackandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".network.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivityDoctor"
            android:label="@string/title_activity_chat_bubble" />
        <activity
            android:name=".ChatActivityPatient"
            android:label="@string/title_activity_chat_bubble_activity_for_patient"></activity>
        <activity android:name=".MainActivityPatient" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".MainActivityDoctor" />

        <receiver android:name=".sms.SMSBroadCast">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_SENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
